body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    
}
header{
   display: flex;
   justify-content: center;
   margin-top: 50px;
   width: 100%;
}
.header{
    display: flex;  
    justify-content: space-around; 
    width: 1200px;
    background-color: #000000;
    background-image: linear-gradient(315deg, #181717 0%, #1f1e1e 74%);
    border-radius: 20px;
    height: 600px;

}
.header-left{
    margin-top: 40px;
}
.header-left h1{
    font-size: 60px;
    color: white;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}
.header-left p{
    color: white;
    margin-bottom: 50px;
}
.header-left a{
    padding: 20px 35px;
    text-decoration: none;
    background-color: limegreen;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    box-shadow: inset 0 0 0 0 #59E506;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
}
.header-left a:hover{
    box-shadow: inset 250px 0 0 0 crimson;
    cursor: pointer;
    font-size: 20px;
    border: 3px solid #59E506;
}
.header-left i{
    color: white;
    margin-left: 15px;
}
.header-right img{
    width: 100%;
    height: 100%;
}

/*blog*/

.upcoming-match{
    width: 250px;
    height: 250px;
    background-color: #000000;
    background-image: linear-gradient(315deg, #181717 0%, #1f1e1e 74%);
    border-radius: 10px;
   
    
}
.upcoming-match a{
    display: block;
    text-decoration: none;
    margin: 15px 25px;
} 
.upcoming-match .match{
    width:  150px;
    height: 30px;
   padding: 10px 30px;
   background-color: white;
   margin-left: 20px;
}
.upcoming-match .group{
    width:  150px;
    height: 30px;
   padding: 10px 30px;
   background-color: white;
   margin-left: 20px; 
}
.upcoming-match .button-blog{
    width:  150px;
    height: 30px;
   padding: 10px 30px;
   background-color: white;
   margin-left: 20px;
   background-color: limegreen;
   color: white;
}
.upcoming-match-element a{
    margin-top: 20px;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    color: #000000;
}
.upcoming-match-element{
    padding: 10px 0px;
}
.match-detail{
    display: flex;
    align-items: center;
    justify-content:left;
    column-gap: 10px;
}
.match-info a{
    border: 1px solid gray;
    background-color: white;
    padding: 05px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    color: #000000;
    margin-left: 10px;
    box-shadow: inset 0 0 0 0 #59E506;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
    font-weight: 700;
}
.match-item{
    margin-bottom: 20px;
}
.matches{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 10px;
    column-gap: 05px;
}
main{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    column-gap: 15px;
    width: 900px;
    margin-left: 210px;
    
}
.fa-clock{
    background-color: #fff;
}
.match{
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 1px;
}
.match-item{
    width: 100%;
}
.match-info a:hover{
    box-shadow: inset 250px 0 0 0 crimson;
    cursor: pointer;
    font-size: 15px;
    font-weight: 800;
}



/* Footer */
footer{
    width: 100%;
    height: 350px;
    background-color: #000000;
    background-image: linear-gradient(315deg, #030303 50%, #131212 74%);
    margin-top: 100px;
}
.footer-text{
    font-size: 50px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-all hr{
    width: 70%;
    color: grey;
    background-color: grey;
}
.footer-menu {
     margin-top: 50px;
    display: flex;
    justify-content: center;
    
    column-gap: 60px;
    
}
.footer-menu a{ 
   text-decoration: none;
   color: lightgray;
   font-weight: 500;
   font-weight: 600;
}

.footer-all{
    padding: 30px 30px;
}

